*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Nunito", sans-serif;
  color: #6D5D4B;
  font-weight: 300;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }
  @media only screen and (max-width: 56.25em) {
    .container {
      grid-template-rows: 6rem 80vh min-content min-content min-content 40vw repeat(3, min-content);
      grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; } }

::selection {
  background-color: #c69963;
  color: #f9f7f6; }

.heading-1, .heading-2, .heading-3, .heading-4, .heading-4--light {
  font-size: 1.9rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 4.5rem;
  color: #f9f7f6;
  line-height: 1.2; }

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1; }
  .heading-2--light {
    color: #f9f7f6; }
  .heading-2--dark {
    color: #54483A; }

.heading-3 {
  text-transform: uppercase;
  color: #c69963;
  font-size: 1.6rem; }

.heading-4--light {
  color: #f9f7f6; }

.heading-4--dark {
  color: #54483A; }

.btn {
  display: inline-block;
  color: #fff;
  background-color: #c69963;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 1.8rem 3rem;
  border: none;
  font-family: "Josefin Sans", sans-serif;
  cursor: pointer;
  transition: all .2s; }
  .btn:hover {
    background-color: #B28451; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-margin-bottom-medium {
  margin-bottom: 3rem; }

.u-margin-bottom-large {
  margin-bottom: 4rem; }

.sidebar {
  background-color: #c69963;
  grid-column: sidebar-start/sidebar-end;
  grid-row: 1 / -1;
  display: grid;
  justify-content: center; }
  @media only screen and (max-width: 56.25em) {
    .sidebar {
      grid-column: 1/-1;
      grid-row: 1 / 2;
      justify-content: end;
      align-content: center; } }
  .sidebar span {
    background-color: white;
    display: inline-block;
    height: .25rem;
    width: 4.5rem;
    margin-top: 4rem; }
    .sidebar span::before {
      position: absolute;
      content: '';
      background-color: inherit;
      height: inherit;
      width: inherit;
      margin-top: -1.5rem; }
    .sidebar span::after {
      position: absolute;
      content: '';
      background-color: inherit;
      height: inherit;
      width: inherit;
      margin-top: 1.5rem; }
    @media only screen and (max-width: 56.25em) {
      .sidebar span {
        margin-top: 0;
        margin-right: 4rem; } }

.header {
  background-image: linear-gradient(rgba(16, 29, 44, 0.93), rgba(16, 29, 44, 0.93)), url(../img/hero.jpeg);
  background-size: cover;
  background-position: center;
  grid-column: full-start/col-end 6;
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  grid-gap: 3rem;
  align-content: space-around;
  padding: 4rem 9rem 3rem 9rem; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-column: 1/-1; } }
  @media only screen and (max-width: 37.5em) {
    .header {
      padding: 4rem 6rem; } }
  .header__logo {
    height: 3rem;
    justify-self: center;
    grid-row: 1/2; }
  .header__media {
    align-self: center;
    justify-self: center; }
  .header__paragraph {
    color: #aaa;
    display: grid;
    grid-template-columns: 1fr max-content 1fr;
    grid-column-gap: 1rem;
    align-items: center; }
    .header__paragraph span {
      font-size: 1.6rem;
      justify-self: center; }
    .header__paragraph::before, .header__paragraph::after {
      content: '';
      background-color: currentColor;
      height: .7px;
      display: block; }
  .header__companies {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
    margin-top: 1rem;
    grid-gap: 3rem; }
  .header img {
    max-height: 2.5rem;
    max-width: 100%;
    opacity: .5; }

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 3vh; }
  @media only screen and (max-width: 50em) {
    .realtors {
      grid-column: 1/-1;
      grid-template-rows: .5fr 1fr;
      grid-template-columns: repeat(3, 1fr); } }
  @media only screen and (max-width: 37.5em) {
    .realtors {
      grid-template-rows: repeat(4, min-content);
      grid-template-columns: 1fr;
      padding-top: 4vh; } }
  .realtors__heading-3 {
    justify-self: center;
    align-self: end; }
    @media only screen and (max-width: 50em) {
      .realtors__heading-3 {
        grid-column: 1/-1;
        grid-row: 1/2; } }
  .realtors__profile {
    display: grid;
    align-items: center;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, max-content); }
    @media only screen and (max-width: 50em) {
      .realtors__profile {
        padding-bottom: 3rem;
        justify-content: center; } }
  .realtors__photo {
    height: 7rem;
    width: 7rem; }
    .realtors__photo img {
      height: 100%;
      width: 100%;
      border-radius: 50%;
      display: block; }
  .realtors__text {
    grid-column: 2/3;
    grid-row: 1/span2; }
    .realtors__text--paragraph {
      text-transform: uppercase;
      color: #aaa;
      margin-top: -.5rem; }

.features {
  grid-column: center-start/center-end;
  margin: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 6rem; }

.feature {
  display: grid;
  grid-template-columns: 4.5rem 1fr;
  grid-row-gap: 1.5rem;
  grid-column-gap: 2.5rem;
  align-content: start; }
  .feature__icon {
    width: 4.5rem;
    height: 4.5rem;
    fill: #c69963;
    grid-row: 1/span 2;
    margin-top: -1rem; }
  .feature__text {
    font-size: 1.7rem; }

.story__picture {
  background-image: linear-gradient(to bottom, rgba(198, 153, 99, 0.5), rgba(198, 153, 99, 0.5)), url(../img/back.jpg);
  background-size: cover;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center; }
  @media only screen and (max-width: 50em) {
    .story__picture {
      grid-column: 1/-1;
      padding: 3rem;
      justify-content: center; } }
  .story__picture__img--1 {
    width: 100%;
    grid-row: 2/6;
    grid-column: 2/6;
    box-shadow: 0 1.5rem 5rem 0.5rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 50em) {
      .story__picture__img--1 {
        grid-row: 2/6;
        grid-column: 2/5; } }
  .story__picture__img--2 {
    width: 115%;
    grid-row: 4/6;
    grid-column: 4/7;
    z-index: 5;
    box-shadow: 0 1.5rem 5rem 0.5rem rgba(0, 0, 0, 0.2); }
    @media only screen and (max-width: 50em) {
      .story__picture__img--2 {
        width: 80%;
        grid-row: 3/6;
        grid-column: 4/7; } }

.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 8vw;
  display: grid;
  align-content: center;
  justify-items: start; }
  @media only screen and (max-width: 50em) {
    .story__content {
      grid-column: 1/-1;
      grid-row: 5/6; } }

.story__text {
  font-size: 1.5rem;
  font-style: italic; }

.homes {
  grid-column: center-start/center-end;
  padding: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-column-gap: 8rem;
  grid-row-gap: 6rem; }

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 3.5rem;
  background-color: #f9f7f6; }
  .home__picture {
    max-width: 100%;
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 1; }
  .home__like {
    fill: #c69963;
    grid-column: 2/3;
    grid-row: 1/2;
    width: 2.5rem;
    height: 2.5rem;
    justify-self: end;
    margin: 1rem;
    z-index: 5; }
  .home__name {
    grid-column: 1/-1;
    grid-row: 1/2;
    z-index: 10;
    align-self: end;
    transform: translateY(50%);
    justify-self: center;
    width: 80%;
    font-size: 1.6rem;
    font-family: "Josefin Sans", sans-serif;
    color: black;
    text-align: center;
    padding: 1.25rem;
    background-color: #101d2c;
    color: white;
    font-weight: 400; }
  .home__location, .home__rooms {
    margin-top: 3rem; }
  .home__location, .home__rooms, .home__square, .home__price {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0rem 0rem 0rem 2rem; }
    .home__location svg, .home__rooms svg, .home__square svg, .home__price svg {
      width: 2rem;
      height: 2rem;
      fill: #c69963;
      margin-left: 1rem; }
    .home__location p, .home__rooms p, .home__square p, .home__price p {
      font-size: 1.5rem;
      margin-left: 1rem; }
  .home .btn--homes {
    grid-column: 1/-1; }

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1rem;
  padding: 2rem; }
  .gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover; }
  .gallery__1 {
    grid-row: 1/3;
    grid-column: 1/3; }
  .gallery__2 {
    grid-row: 1/4;
    grid-column: 3/6; }
  .gallery__3 {
    grid-row: 1/3; }
  .gallery__4 {
    grid-row: 1/3;
    grid-column: 7/9; }
  .gallery__5 {
    grid-row: 3/6;
    grid-column: 1/3; }
  .gallery__6 {
    grid-row: 4/6;
    grid-column: 3/5; }
  .gallery__7 {
    grid-row: 4/5; }
  .gallery__8 {
    grid-row: 3/5;
    grid-column: 6/8; }
  .gallery__9 {
    grid-row: span 3; }
  .gallery__10 {
    grid-row: span 2;
    grid-column: 1/2; }
  .gallery__11 {
    grid-row: span 2;
    grid-column: span 2; }
  .gallery__12 {
    grid-row: span 2; }
  .gallery__13 {
    grid-row: 5/8;
    grid-column: span 3; }
  .gallery__14 {
    grid-row: span 2; }

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 8rem; }
  .footer .nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 3rem;
    align-items: center; }
    .footer .nav__item {
      text-align: center;
      transition: all .3s;
      backface-visibility: hidden; }
    .footer .nav__link {
      display: inline-block;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.4rem;
      padding: 1.5rem;
      font-family: "Josefin Sans", sans-serif; }
    .footer .nav .nav__item:hover {
      transform: translateY(-0.5rem);
      background-color: rgba(249, 247, 246, 0.05); }
  .footer__text {
    margin: 6rem auto;
    margin-bottom: 0;
    width: 70%;
    color: #aaa;
    text-align: center;
    font-size: 1.4rem; }
